# Microsoft 365 Agents Toolkit files
build/
appPackage/build/
.env
.env.*
.env.local
.env.dev
.env.staging
.env.prod
.vs


# Notification store
.notification.localstore.json
.notification.testtoolstore.json

# Dev tunnel state
.devtunnel

# User-specific project files
*.atkproj.user

# Generated manifests
appPackage/build/*.json

# DevTools
devTools/
